<!DOCTYPE html>
<html lang="ko">

<head>
    <% include ./header.ejs %>
</head>

<body>
    <% include ./body.ejs %> 
    <xml id="toolbox" style="display: none">
		<!-- 사냥하고 돌아오기 -->
			<block type="onchat">
				<value name="command">
					<block type="text">
						<field name="TEXT">run</field>
					</block>
				</value>
			</block>
			<block type="onmobkilled">
			  <value name="Mob">
				<block type="animalmob"></block>
			  </value>
			</block>
			<block type="spawn_animal">
			  <value name="animal">
				<block type="animalmob"></block>
			  </value>
			</block>
			<block type="teleport_location">
			  <value name="NAME">
				<block type="absolute_location">
				  <value name="x">
					<block type="math_number">
						<field name="NUM">0</field>
					</block>
				  </value>
				  <value name="y">
					<block type="math_number">
						<field name="NUM">4</field>
					</block>
				  </value>
				  <value name="z">
					<block type="math_number">
						<field name="NUM">0</field>
					</block>
				  </value>
				</block>
			  </value>
			</block>
			<block type="player_chatcommand">
				<value name="chatcommand">
				  <block type="text">
					<field name="TEXT">jump</field>
				  </block>
				</value>
			</block>
    </xml>


</body>

</html>
