    <meta charset="UTF-8">
    <meta name="google" value="notranslate">
    <title>마인크래프트 코딩</title>
    <link rel="icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../google-blockly/demos/code/style.css">
    <script src="../google-blockly/appengine/storage.js"></script>
    <script src="../google-blockly/blockly_compressed.js"></script>
    <script src="../google-blockly/blocks_compressed.js"></script>
    <script src="../google-blockly/javascript_compressed.js"></script>
    <!--code.js is responsible for deciding where the language files are-->
    <script src="../code_content.js"></script>
    <!--description of the Minecraft blocks for Blockly-->
    <script src="../customblocks.js"></script>
    <!--Contains the generator for the javascript used in scriptcraft-->
    <script src="../customblocks-javascript-generator.js"></script>
    <!--File load and save-->
    <script type="text/javascript" src="../javascripts/BlobBuilder.min.js"></script>
    <script type="text/javascript" src="../javascripts/FileSaver.min.js"></script>

    <!--collapse library-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
